.navbar-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.nav-imag {
  display: flex;
  justify-content: center;
  margin: 50px 0 10px;
}

.nav-lines {
  display: flex;
  justify-content: center;
  background-color: aqua;
  position: relative;
}
.nav-lines img {
  margin-bottom: 2px;
}

.line {
  height: 3px;
  position: absolute;
  width: 100%;
}

.line1 {
  top: 0px;
  right: 0;
}

.line2 {
  top: 6px;
  right: 0;
}

.line3 {
  top: 12px;
}
