.navbar-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.nav-imag {
  display: flex;
  justify-content: center;
  margin: 50px 0 10px;
}

.nav-lines {
  display: flex;
  justify-content: center;
  background-color: aqua;
  position: relative;
}
.nav-lines img {
  margin-bottom: 2px;
  /* position: absolute; */
}

.line1 {
  position: absolute;
  top: 0px;
}

.line2 {
  position: absolute;
  top: 8px;
}

.line3 {
  position: absolute;
  top: 16px;
}
