.navbar-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.nav-imag {
  display: flex;
  justify-content: center;
  margin: 50px 0 10px;
}

.nav-lines {
  display: flex;
  justify-content: center;
  background-color: aqua;
  position: relative;
}
.nav-lines img {
  margin-bottom: 2px;
}

.line1 {
  width: 99.4%;
  position: absolute;
  top: 0px;
  right: 0;
}

.line2 {
  position: absolute;
  top: 8px;
  right: 0;
  width: 99.7%;
}

.line3 {
  position: absolute;
  top: 16px;
  width: 100%;
}
