.login-container {
  display: flex;
  justify-content: center;
}

.login-form {
  margin-top: 10rem;
  width: 17rem;
}

input {
  padding: 15px;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid rgba(128, 128, 128, 0.671);
}

::placeholder {
  font-size: 0.7rem;
  color: #464646;
}

.password-input {
  position: relative;
}

.placeholder-mail {
  position: absolute;
  top: 12px;
  left: 76px;
}

.placeholder-pass {
  position: absolute;
  top: 12px;
  left: 67px;
}

.star {
  font-size: 12px;
  color: red;
}

.icon {
  position: absolute;
  top: 16px;
  right: 20px;
  color: gray;
  font-size: 1rem;
}

.icon:hover {
  cursor: pointer;
}

.forgot {
  font-size: 0.7rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #006ab3;
}

.account {
  color: #464646;
  margin-top: 20px;
  text-align: center;
  font-size: 0.7rem;
}

.account span {
  color: #006ab3;
  font-weight: 600;
}
