.login-container {
  display: flex;
  justify-content: center;
}

.login-form {
  margin-top: 10rem;
  width: 17rem;
}

a {
  text-decoration: none;
}

input {
  padding: 20px 16px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid rgba(128, 128, 128, 0.671);
}

.placeholder-text {
  font-size: 0.8rem;
  color: #464646;
}

#emailInput {
  font-size: 0.9rem;
}

.password-input {
  position: relative;
  margin-bottom: 20px;
}

.label {
  position: absolute;
  left: 2ch;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s;
}

.label-active {
  transform: translateY(-150%);
}

.star {
  font-size: 12px;
  color: red;
}

.icon {
  position: absolute;
  top: 50%;
  right: 2ch;
  transform: translateY(-50%);
  color: gray;
  font-size: 1rem;
}

.icon:hover {
  cursor: pointer;
}

.forgot {
  font-size: 0.7rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #006ab3;
}

.account {
  color: #464646;
  margin-top: 20px;
  text-align: center;
  font-size: 0.7rem;
}

.account span {
  color: #006ab3;
  font-weight: 600;
}
